xml_training/dtd/BIODATA.DTD

<!ELEMENT person (biodata)+>
<!ELEMENT biodata (personal,address,phone*,qualification,likes)>
<!ELEMENT personal EMPTY>
<!ATTLIST personal name CDATA #REQUIRED>
<!ELEMENT address (#PCDATA)>
<!ELEMENT phone (#PCDATA)>
<!ELEMENT qualification (#PCDATA)>
<!ELEMENT likes EMPTY>
<!ATTLIST likes hobby CDATA #REQUIRED>