xml_training/schema/products.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="PRODUCTDATA" type="prdata"/>
	<xsd:complexType name="prdata">
		<xsd:sequence>
			<xsd:element name="PRODUCT" type="prdt"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="prdt">
		<xsd:all>
			<xsd:element name="PRODUCTNAME" type="xsd:string"/>
			<xsd:element name="DESCRIPTION" type="xsd:string"/>
			<xsd:element name="PRICE" type="xsd:positiveInteger"/>

			<xsd:element name="QUANTITY" type="xsd:nonNegativeInteger"/>
		</xsd:all>
	</xsd:complexType>
</xsd:schema>
